.env
__pycache__/
*.pyc
.venv/
backend/generated_models/
!backend/generated_models/.gitkeep
backend/static/models/
!backend/static/models/.gitkeep
backend/static/uploads/
!backend/static/uploads/.gitkeep
backend/static/paintings/
!backend/static/paintings/.gitkeep
backend/static/debug_artifacts.log
*.idea
backend/chroma_db